html,body,div,span,iframe,h1,h2,h3,h4,h5,p,a,img,ul,li,table,tr,th,td,tbody,footer,header,main,nav,section {
  font-weight: normal;
  text-decoration: none;
}

body {
  background-color: black;
  color: white;
}
#info{
  font-size: 10px;
}